main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

h1 { display: none; }

section > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
